<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>SpringWebProject</display-name>
<!--    <servlet>-->
<!--        <servlet-name>QueryStudentByIdServlet</servlet-name>-->
<!--        <servlet-class>servlet.QueryStudentByIdServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>QueryStudentByIdServlet</servlet-name>-->
<!--        <url-pattern>/QueryStudentByIdServlet</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <welcome-file-list>-->
<!--        <welcome-file>index.jsp</welcome-file>-->
<!--    </welcome-file-list>-->

<!--    &lt;!&ndash;    指定IOC容器(applicationContext.xml)的位置&ndash;&gt;-->
<!--    <context-param>-->
<!--        &lt;!&ndash; 监听器的父类ContextLoader中有一个属性contextConfigLocation，该属性值保存着容器配置文件applicationContext.xml的位置 &ndash;&gt;-->
<!--        <param-name>contextConfigLocation</param-name>-->
<!--        <param-value>-->
<!--            classpath:applicationContext.xml-->
<!--            classpath:applicationContext-*.xml-->
<!--        </param-value>-->
<!--    </context-param>-->

<!--    <listener>-->
<!--        &lt;!&ndash;  配置Spring-web.jar提供的监听器，此监听器可以在服务器启动时初始化IOC容器-->
<!--                初始化IOC容器(applicationContext.xml)，-->
<!--                1.告诉监听器此容器的位置：context-param-->
<!--                2.默认约定的位置：WEB-INF/applicationContext.xml-->
<!--                &ndash;&gt;-->
<!--        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->

        <!-- Web项目中，引入Spring -->
        <context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext.xml</param-value>
        </context-param>

        <listener>
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>

        <!-- 整合SpringMVC -->
        <servlet>
            <servlet-name>springDispatcherServlet</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <init-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>classpath:applicationContext-Controller.xml</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>
    
    <servlet-mapping>
        <servlet-name>springDispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>