<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 该文件中产生的所有对象，被spring放入了一个称之为spring ioc容器的地方 -->
    <!-- id：唯一标识符 class：指定类型 -->
   <bean id="student" class="entity.Student">
       <!-- property:该class所代表的类的属性
            name：属性名
            value:属性值
        -->
       <property name="stuNo" value="2"></property>
       <property name="stuName" value="ls"></property>
       <property name="stuAge" value="24"></property>
   </bean>

    <bean id="javaCourse" class="newinstance.JavaCourse"></bean>

    <bean id="htmlCourse" class="newinstance.HtmlCourse"></bean>

    <bean id="teacher" class="entity.Teacher" p:age="25" p:name="ww">
<!--        通过set方式赋值-->
<!--        <property name="name" value="zs"></property>-->
<!--        <property name="age" value="23"></property>-->
<!--        通过构造器赋值-->
<!--        <constructor-arg value="24" index="1"></constructor-arg>-->
<!--        <constructor-arg value="ls" index="0"></constructor-arg>-->

<!--        <constructor-arg value="24" name="age"></constructor-arg>-->
<!--        <constructor-arg value="ls" name="name"></constructor-arg>-->

<!--        <constructor-arg value="24" type="int" index="1" name="age"></constructor-arg>-->
<!--        <constructor-arg value="ls" type="java.lang.String" index="0" name="name"></constructor-arg>-->
            </bean>

            <bean id="course" class="entity.Course" p:courseHour="300" p:courseName="hadoop" p:teacher-ref="teacher">
        <!--        <property name="courseName" value="java"></property>-->
<!--        <property name="courseHour" value="200"></property>-->
<!--        &lt;!&ndash; 将teacher对象注入到course对象中 &ndash;&gt;-->
<!--        <property name="teacher" ref="teacher"></property>-->

<!--        <constructor-arg value="c"></constructor-arg>-->
<!--        <constructor-arg value="100"></constructor-arg>-->
<!--        <constructor-arg ref="teacher"></constructor-arg>-->
    </bean>

    <bean id="collectionDemo" class="entity.AllCollectionType">
        <!--    通过set方式赋值-->
        <property name="listElement">
            <list>
                <value>足球</value>
                <value>篮球</value>
                <value>乒乓球</value>
            </list>
        </property>

        <property name="arrayElement">
            <array>
                <value>足球1</value>
                <value>篮球1</value>
                <value>乒乓球1</value>
            </array>
        </property>

        <property name="setElement">
            <set>
                <value>足球2</value>
                <value>篮球2</value>
                <value>乒乓球2</value>
            </set>
        </property>

        <property name="mapElement">
            <map>
                <entry>
                    <key>
                        <value>foot3</value>
                    </key>
                    <value>足球</value>
                </entry>

                <entry>
                    <key>
                        <value>basket3</value>
                    </key>
                    <value>篮球</value>
                </entry>

                <entry>
                    <key>
                        <value>pp3</value>
                    </key>
                    <value>乒乓球3</value>
                </entry>
            </map>
        </property>

        <property name="propsElement">
            <props>
                <prop key="foot4">足球4</prop>
                <prop key="basket4">篮球4</prop>
                <prop key="pp4">乒乓球4</prop>
            </props>
        </property>
    </bean>

</beans>